.heroSection {
	padding-top: 260px;
	padding-bottom: 260px;
	background: url("/images/hero-bg.jpg") center/cover no-repeat;
}

.heroTitle {
	font-size: 48px;
	line-height: 67%;
	color: #f7f7f7;
	margin-bottom: 16px;
}

.heroSubtitle {
	font-size: 24px;
	line-height: 133%;
	color: #f7f7f7;
	margin-bottom: 40px;
}

.heroLink {
	border-radius: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 56px;
	background-color: #e44848;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #fff;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: #d84343;
	}
}
