:root {
	font-family: var(--font-inter), sans-serif;
}

html,
body {
	font-family: var(--font-inter), sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100vw;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
	cursor: pointer;
	display: block;
}

button {
	cursor: pointer;
	font-family: inherit;
	color: currentColor;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

input {
	font-family: inherit;
}

.container {
	max-width: 1440px;
	padding: 0 64px;
}
